# Build artifacts
bin/
obj/

# Logs
*.log
app.log

# Visual Studio files
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
.nuget/